/* WeatherDataCurrent */
.weatherData {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 400px;
  padding: 5px;
  border: solid #fff 1px;
  border-radius: 10px;
  margin: 10px auto;
}
.weatherMiddleInfos {
  display: flex;
  margin-bottom: 10px;
}
.weatherPart1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.weatherInfosItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* WeatherFeelsLike */
.weatherFeelsLike {
  font-size: 2.5rem;
}

/* WeatherIcon */
.icon {
  width: 100px;
}

/* QueHace */
.queHace {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.queHaceText {
  font-size: 1.2rem;
}
.queHace > div {
  width: 100%;
}
.queHace img {
  width: 100%;
  max-width: 100px;
}
.queHace .queHaceInfo {
  font-size: 0.6rem;
  font-weight: normal;
}

/* WeatherInfos */
.weatherMainInfosItem {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.weatherMainInfosItem > div {
  position: relative;
}
.help {
  position: relative;
  width: 20px;
  margin: 0 auto;
}
.help::after {
  content: "?";
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(75%, -50%);
  padding: 5px;
  font-size: 0.8rem;
  border-radius: 5px;
}
.help:hover::after {
  transform: translate(100%, -100%);
  background-color: rgba(0, 0, 0, 0.5);
}
.weatherRise > div:hover::after {
  content: "amanecer";
}
.weatherSet > div:hover::after {
  content: "puesta de sol";
}
.weatherHumidity > div:hover::after {
  content: "humedad";
}
.weatherWind > div:hover::after {
  content: "viento";
}
.weatherInfosIcon {
  max-width: 100%;
  max-height: 100%;
}

.weatherSecondaryInfosItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.weatherSecondaryInfosItem > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}
.weatherTitleInfosItemWrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
}
.weatherTitleInfosItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}
.getWeatherAqi,
.getWeatherAirQuality {
  border-radius: 5px;
}
.getWeatherAqi > span,
.getWeatherAirQuality > span {
  font-weight: bold;
}

/* locationNotFoundContainer */
.locationNotFound img {
  max-width: 200px;
  max-height: 200px;
}
