/* Menus */
#menus {
  position: fixed;
  top: 10px;
  left: 0;
  transform: translateX(-100%);
  max-width: 80%;
  min-height: 125px;
  max-height: 95vh;
  background-color: grey;
  text-align: left;
  padding: 5px 10px;
  border: solid 1px #000;
  border-radius: 0 5px 10px 0;
  transition: 0.25s;
  z-index: 1;
}
#menus.active {
  transform: translateX(0);
}

/* FavMenu */
.favMenu {
  min-height: 125px;
}
.favMenu.inactive {
  display: none;
  transition: 0.25s;
}
.favMenuBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 100%;
  width: 45px;
  height: 45px;
  background-color: grey;
  font-size: 2rem;
  border: solid 1px #000;
  border-radius: 5px;
  cursor: pointer;
}
.favMenu li {
  display: flex;
  align-items: center;
  gap: 5px;
  background: linear-gradient(
      to left,
      rgb(120, 120, 120) 50%,
      rgb(80, 80, 80) 50%
    )
    right;
  background-size: 200%;
  border-radius: 10px;
  padding: 0 5px;
  margin: 5px 0;
  transition: 0.25s ease-out;
  cursor: pointer;
}
.favMenu li:hover {
  background-position: left;
}
.favMenuBtn .star {
  color: yellow;
}
.favMenu .trashCan {
  color: red;
}

/* SettingsMenu */
.settingsMenu {
  min-height: 125px;
}
.settingsMenu.inactive {
  display: none;
  transition: 0.25s;
}
.settingsMenuBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 45px;
  left: 100%;
  width: 45px;
  height: 45px;
  background-color: grey;
  font-size: 2rem;
  border: solid 1px #000;
  border-radius: 5px;
  cursor: pointer;
}
.settingsMenuBtn.up {
  top: -1px;
}

.heatIndex {
  position: relative;
  font-size: 1rem;
  padding: 5px;
  border: solid 1px red;
  border-radius: 5px;
}
.levels {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1rem;
  font-weight: normal;
  padding: 5px;
  border-radius: 2px;
  margin-bottom: 2px;
}
.levels > div {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.thermometer {
  position: absolute;
  left: 0px;
  width: 20px;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgb(0, 26, 255) 20%,
    rgb(0, 208, 255) 40%,
    rgb(255, 166, 0) 50%,
    rgb(255, 166, 0) 60%,
    rgb(255, 0, 0) 80%
  );
  border: solid #000 1px;
  border-radius: 8px;
}
.level {
  background-color: rgb(116, 116, 116);
  font-size: 0.8rem;
  padding: 5px;
  border-radius: 10px;
  margin: 5px 0;
}
.level .label {
  font-size: 1rem;
  font-weight: bold;
}
.level input {
  width: 3rem;
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
  border-radius: 50px;
}
.level span {
  font-weight: bold;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
.resetAndSaveBtn {
  display: flex;
  justify-content: end;
  gap: 20px;
  margin: 0 5px 5px 0;
}
.resetAndSaveBtn button {
  background-color: green;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 1);
}
