#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

@import "./css files/header.css";

@import "./css files/menus.css";

@import "./css files/weatherHeader.css";
@import "./css files/catchPhrase.css";
@import "./css files/generalInfo.css";
@import "./css files/searchByLocation.css";
@import "./css files/searchAnotherCity.css";

@import "./css files/weatherDataCurrent.css";
@import "./css files/clock.css";

@import "./css files/weatherDataForecast.css";
