* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  position: relative;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  margin: 5px auto;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 25px 25px;
}

#root:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../public/mountains.jpg") no-repeat center center/cover;
  z-index: -1;
}
#root.nightTime:before {
  background: url("../public/night city.jpg") no-repeat center center/cover;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
